<h1>Characters</h1>
<a href='/characters/new'>New Character</a>
<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th>Level</th>
  </tr>
  <% for character in @characters %>
  <tr>
    <td><a href="/characters/<%= character.id %>"><%= character.name %></a></td>
    <td>|</td>
    <td><%= character.level %></td>
  </tr>
  <% end %>
</table>
