<h1>Create New Campaign</h1>

<form action="/campaigns" method="post">

  <label for ="name">Name</label>
  <input id="name" type="text" name="name"/>


  <label for ="setting">Setting</label>
  <input id="setting" type="text" name="setting"/>

  <label for ="schedule">Schedule</label>
  <input id="schedule" type="text" name="schedule"/>



  <input type='submit' value="Create campaign">
</form>
