.btn {
  border:0px none;
  border-radius: 3%;
  padding: 8px 12px;
  color: papayawhip;
  cursor:pointer;
  font-family: 'Playfair+Display', cursive;
}

.btn--danger {
  background-color: darkred;
}

.btn--danger:hover {
  background-color: #730000;
}

.btn--action:hover {
  background-color: #B8B7E3;
}

.btn--action {
  background-color: #9DB7E3;
}

.btn--wrapper {
  margin: 0px 0px 30px 0px;
}
