<h1>Players</h1>
<a href='/players/new'>New Player</a>
<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th>Number of games played</th>
  </tr>
  <% for player in @players %>
  <tr>
    <td><a href="/players/<%= player.id %>"><%= player.name %></a></td>
    <td>|</td>
    <td><%= player.games_played %></td>
  </tr>
  <% end %>
</table>
