<h1>Add Player</h1>

<form action="/players" method="post">

  <label for ="name">Name</label>
  <input id="name" type="text" name="name"/>


  <label for ="games_played">No_of_games_played</label>
    <input id="games_played" type="number" name="games_played" />



  <input type='submit' value="Add Player">
</form>
